    <footer class="footer">
        <div class="footer-left col-md-4 col-sm-6">
            <p class="about">
                <span> About PASALE DAI</span> Ut congue augue non tellus bibendum, in varius tellus condimentum. In scelerisque nibh tortor, sed rhoncus odio condimentum in. Sed sed est ut sapien ultrices eleifend. Integer tellus est, vehicula eu lectus tincidunt, ultricies feugiat leo. Suspendisse tellus elit, pharetra in hendrerit ut, aliquam quis augue. Nam ut nibh mollis, tristique ante sed, viverra massa.
            </p>
            <div class="icons wow bounceInRight">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>

        <div class="footer-center col-md-4 col-sm-6">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span> Street name and number</span> City, Country</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p> (+00) 0000 000 000</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p>office@company.com</p>
            </div>
        </div>

        <div class="footer-right col-md-4 col-sm-6">
            <img src="/images/full_logo.jpg">
            <p class="menu">
                <a href="/"> Home</a> |
                <a href="/#all_services"> Services</a> |
                <a href="#"> Blog</a> |
                <a href="#"> Career</a>
            </p>
            <p class="name"> PASALE DAI &copy; 2017</p>
        </div>
    </footer>
</body>

</html>